/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Header Styling */
  body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: #009883; 
    color: #e6f6f4;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo {
    font-size: 2em;
    font-weight: 700;
}
nav {
    display: flex;
    gap: 20px;
}
nav a {
    color:#b0e4dd;
    text-decoration: none;
    font-size: 1em;
}
nav a:hover {
    text-decoration: underline;
}
.menu-toggle {
    display: none;
    font-size: 1.5em;
    background: none;
    border: none;
    color:#b0e4dd;
}
@media (max-width: 768px) {
    nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color:#009883;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
    }
    nav.active {
        display: flex;
    }
    .menu-toggle {
        display: block;
    }
}
 
/* Footer Style */
footer {
  background-color: #003b33; 
  color: #e6f6f4; 
  padding: 20px;
  text-align: center;
  width: 100%; 
}

footer p {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

footer ul.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; 
  gap: 15px;
}
footer ul.social-links li {
  display: inline-block;
}

footer ul.social-links li a {
  color: #e6f6f4; 
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 20px; 
  background-color: #008774; 
  border-radius: 15px; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

footer ul.social-links li a:hover {
  background-color: #00755e; 
  transform: translateY(-2px); 
}

/* For Mobile and Tablet Portrait */
@media screen and (max-width: 767px) {
  footer ul.social-links {
      display: block; 
      text-align: center; 
      padding: 0;
  }

  footer ul.social-links li {
      display: block;
      margin-top: 1rem; 
      margin-bottom: 3rem; 
  }
}

  
  
/* Home Style */
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
  }

  .home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem 5%;
    min-height: 100vh;
    background-color:#b0e4dd;
    color: #003b33;
    animation: fadeIn 1.5s ease-out;
  }
  
  .home__image-container {
    flex: 0 0 auto;
    width: 350px; 
    height: 350px; 
    overflow: hidden;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem; 
    animation: zoomIn 1s ease-out;
    border:solid 2px #003b33;
  }
  
  .home__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .home__text-container {
    flex: 1;
    padding-left: 2rem;
    max-width: 50%;
  }
  
  .home__text-container h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
    color: #009883;
    opacity: 0;
    animation: fadeInText 1s ease-out forwards 0.5s;
  }
  
  .home__text-container p {
    font-size: 1.1rem;
    color: #003b33;
    line-height: 1.6;
    text-align: left;
    opacity: 0;
    animation: fadeInText 1s ease-out forwards 1s;
  }
  
  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
  }
  
  @keyframes fadeInText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .home {
        flex-direction: column;
        text-align: center;
        padding: 3rem 2rem;
    }
  
    .home__text-container {
        max-width: 100%;
        padding-left: 0;
        margin-top: 2rem;
    }
    .home__image-container {
        width: 300px; 
        height: 300px;
        margin: 0 auto 1rem;
    }
    .home__text-container h1 {
        font-size: 2rem;
    }
    .home__text-container p {
        font-size: 1rem;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .home__image-container {
        width: 250px; 
        height: 250px;
        margin: 0 auto 1rem;
    }
    .home__text-container h1 {
        font-size: 1.8rem;
    }
    .home__text-container p {
        font-size: 0.9rem;
    }
  }


/* Experience Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: left; 
  }

  .section__title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #003b33; 
    text-align: left; 
  }
  
  .section__subtitle {
    font-size: 1.2rem;
    color: #003b33; 
    margin-bottom: 3rem;
    text-align: left; 
  }

  .experience {
    padding: 4rem 10%;
    background-color: #b0e4dd; 
    animation: fadeInUp 1s ease-out;
    display: flex; 
    flex-direction: column;
    align-items: flex-start; 
  }
  
  .experience__content {
    width: 100%; 
  }
  
  .academic-journey {
    margin-bottom: 3rem;
    animation: fadeInUp 1s ease-out 0.5s;
    width: 100%; 
  }
  
  .academic-journey h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #003b33; 
    text-align: left; 
  }
  
  .academic-journey p {
    font-size: 1.1rem;
    color: #003b33; 
    margin-bottom: 1rem;
    text-align: left; 
  }
  
  .table-container {
    margin-top: 2rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #d9f2ef; 
    overflow-x: auto;
  }
  
  table th,table td {
    padding: 0.8rem;
    text-align: left;
    border: 1px solid #00755e;
  }
  
  table th {
    background-color: #f7f7f7;
  }
  
  table tr:nth-child(even) {
    background-color: #b0e4dd;
  }

  .projects-certificates {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    animation: fadeInUp 1s ease-out 1s;
    width: 100%; 
  }
  
  .projects-certificates h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #003b33; 
    width:100%;
    text-align: left; 
  }
  
  .box-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%; 
  }
  
  .box {
    flex: 1;
    min-width: 280px; 
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(0.95);
    transition: transform 0.3s ease;
    background-color: #d9f2ef; 
    text-align: left; 
  }
  
  .box:hover {
    transform: scale(1);
  }
  
  .box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .box .content {
    padding: 1rem;
    background-color: #e6f6f4;
  }
  
  .box h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #003b33;
    text-align: left; 
  }
  
  .box p {
    font-size: 1rem;
    color: #003b33; 
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .box button {
    padding: 0.5rem 1rem;
    background-color: #003b33;
    color: #d9f2ef;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .box button:hover {
    background-color:#00755e;
  }
  
  /* Animations */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
 /* Responsive Design */
  @media only screen and (max-width: 768px) {
    .experience {
      padding: 3rem 5%;
    }
  
    .box-container {
      flex-direction: column;
      gap: 2rem;
    }
  
    .academic-journey {
      text-align: left; 
    }
  
    table {
      font-size: 0.9rem;
    }
  
    .box {
      flex: 1 1 100%; 
      min-width: 100%; 
    }
  
    .box img {
      height: 250px;
    }
  
    .projects-certificates h3 {
      font-size: 1.8rem;
    }
  }
  
 
  @media only screen and (max-width: 480px) {
    .experience {
      padding: 2rem 3%;
    }
  
    .section__title {
      font-size: 2rem;
    }
  
    .section__subtitle {
      font-size: 1rem;
    }
  
    .box {
      flex: 1 1 100%; 
      min-width: 100%; 
    }
  
    .box img {
      height: 200px;
    }
  
    .projects-certificates h3 {
      font-size: 1.5rem;
    }
  
    .table-container {
      overflow-x: auto; 
    }
  }
.box {
    flex: 1;
    min-width: 280px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px #007b66;
    transform: scale(0.95);
    transition: transform 0.3s ease;
    background-color: #edf4f3; 
    text-align: left; 
}

/*Tablets and Smaller Screens */
@media only screen and (max-width: 768px) {
    .box-container {
        flex-direction: column; 
        gap: 2rem;
    }

}

/* Mobile Screens */
@media only screen and (max-width: 480px) {
    .experience {
        padding: 2rem 3%;
    }
  
    .section__title {
        font-size: 2rem;
    }
  
    .section__subtitle {
        font-size: 1rem;
    }
}


  

/* Hobbies Section Styling */
#hobbies{
    background-color: #b0e4dd;
}

section h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color:#00755e;
    margin-bottom: 1rem;
  }
  
  section p {
    font-size: 1.2rem;
    text-align: center;
    color: #003b33;
    margin-bottom: 2rem;
  }
  
  .hobbies section.intro{
    margin: 4rem;
  }
  
  .hobbies section.intro h2{
    text-align: left;
  }
  
  .hobbies section .intro p{
    text-align: left;
  }
  
  .hobbies__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem 10%;
    animation: fadeInUp 1s ease-out;
  }
  
  .hobby-box {
    position: relative;
    background-color: #e7efee;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px #00755e;
    transform: scale(0.95);
    transition: transform 0.3s ease;
  }
  
  .hobby-box:hover {
    transform: scale(1);
  }
  
  .hobby-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: opacity 0.3s ease;
  }
  
  .hobby-box:hover .hobby-img {
    opacity: 0.7;
  }
  
  .hobby-content {
    padding: 1.5rem;
  }
  
  .hobby-content h3 {
    font-size: 1.5rem;
    color:#003b33;
    margin-bottom: 1rem;
  }
  
  .hobby-content p {
    font-size: 1rem;
    color:#003b33;
  }
  
  @keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  @media only screen and (max-width: 768px) {
    .hobbies__grid {
        grid-template-columns: 1fr;
        gap: 1.5rem;
        padding: 2rem 5%;
    }
  
    section h2 {
        font-size: 2rem;
    }
  
    section p {
        font-size: 1rem;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .hobbies__grid {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 2rem 3%;
    }
  
    section h2 {
        font-size: 1.8rem;
    }
  
    section p {
        font-size: 1rem;
    }
  }

/* About Section */
  .about {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #b0e4dd; 
  }
  
  .aboutme {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    gap: 20px;
    animation: fadeIn 2s ease-out;
  }
  
  .aboutme h2 {
    width: 100%;
    text-align: left; 
    font-size: 2rem;
    color: #003b33; 
  }
  
  .profile-image {
    flex: 1;
    max-width: 300px;
    margin-bottom: 20px;
    text-align: right; 
    animation: slideUp 1s ease-out;
  }
  
  .profile-image img {
    width: 100%;
    height: auto;
    border-radius: 5px; 
    border: 5px solid #003b33; 
    transition: transform 0.3s;
  }
  
  .profile-image img:hover {
    transform: scale(1.1);
  }
  
  .profile-image figcaption {
    font-style: italic;
    color: #003b33;
    margin-top: 10px;
    text-align: left; 
  }
  
  .aboutme p {
    flex: 2;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #003b33; 
    width: 100%;
    max-width: 600px;
    text-align: left; 
    animation: fadeIn 2s ease-out 0.5s;
  }
  
  .aboutme p:last-child {
    text-align: left;
    font-size: 1rem;
  }
  
  ul {
    list-style-type: none;
    margin-top: 20px;
    animation: fadeIn 2s ease-out 1s;
  }
  
  ul li {
    padding: 5px;
    font-size: 1rem;
    color: #003b33; 
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #003b33; 
  }
  
  /* Animations */
  @keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  @keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }

/* Contact */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #b0e4dd;
    text-align: left;
  }
  .contact-form {
    background-color: #b0e4dd;
    padding: 2rem;
    margin-bottom: 3rem;
    border-radius: 8px;
    animation: fadeInUp 2s ease-out;
  }
  
  .contact-form h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #003b33;
    text-align: left;
  }
  
  .contact-form p {
    font-size: 1.1rem;
    color: #003b33;
    margin-bottom: 2rem;
    text-align: left;
  }
  
  .contact-form .form-row {
    display: flex;
    
    margin-bottom: 0.5rem; 
    gap:3rem;
  }
  
  .contact-form label {
    font-size: 1rem;
    color: #003b33;
    width: 3%;
    font-weight: bolder; 
  }
  
  .contact-form input,.contact-form textarea {
    width: 65%;
    padding: 1rem;
    border: 2px solid #003b33;
    border-radius: 8px;
    font-size: 1rem;
    color: #003b33;
  }
  
  .contact-form button.submit-btn {
    background-color: #009883;
    color: #d9f2ef;
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 16rem;
    text-align: center;
    margin-top: 1rem;
    margin-left: 5rem;
  }
  
  .contact-form button.submit-btn:hover {
    background-color: #007b66;
  }
  
  .social-media {
    text-align: left;
    margin-bottom: 3rem;
    margin-left: 2rem;
  }
  
  .social-media h3 {
    font-size: 2rem;
    color: #003b33;
    margin-bottom: 1rem;
  }
  
  .social-media p {
    font-size: 1.1rem;
    color: #003b33;
    margin-bottom: 2rem;
    text-align: left;
  }
  
  .social-media ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 0.75rem; 
  }
  
  .social-media ul li a {
    font-size: 1.1rem;
    color:#e6f6f4;
    background-color: #009883;
    border-radius: 8px;
    padding: 1rem 2rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .social-media ul li a:hover {
    background-color: #007b66;
  }
  
  .social-links {
    text-align: left;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  
  .social-links h3 {
    font-size: 2rem;
    color: #003b33;
    margin-bottom: 1rem;
  }
  
  .social-links p {
    font-size: 1.1rem;
    color: #003b33;
    margin-bottom: 2rem;
    text-align: left;
  }
  
  .social-links ul {
    list-style-type: none;
    display: flex;
    gap: 0.75rem; 
  }
  
  .social-links ul li a {
    color:#e6f6f4;
    background-color: #009883;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
  }
  
  .social-links ul li a:hover {
    background-color: #007b66;
  }
  
  /* Animations */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Responsive Design */
  @media only screen and (max-width: 768px) {
    .contact-form {
      padding: 1.5rem;
    }
  
    .contact-form h2 {
      font-size: 1.8rem;
    }
  
    .contact-form .form-row {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .social-media h3, .social-links h3 {
      font-size: 1.8rem;
    }
  
    .social-media p, .social-links p {
      font-size: 1rem;
    }
  
    .social-media ul {
      flex-direction: column;
      gap: 1rem;
    }
  
    .social-links ul {
      flex-direction: column;
      gap: 1rem;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .contact-form {
      padding: 1rem;
    }
  
    .contact-form h2 {
      font-size: 1.6rem;
    }
  
    .contact-form input,.contact-form textarea {
      font-size: 1rem;
    }
  
    .contact-form button.submit-btn {
      font-size: 1rem;
      padding: 0.8rem 1.5rem;
    }
  
    .social-media h3, .social-links h3 {
      font-size: 1.6rem;
    }
  
    .social-media p, .social-links p {
      font-size: 1rem;
    }
  }
  